.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  margin-left: 16px;
}

.menu-item :hover {
  color: white;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  filter: grayscale(100%); /* Optional: Makes the icons grayscale */
  transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition */
  gap: 16px;
  padding: 16px !important;
}

.inverted-icon {
  width: 24px;
  height: 24px;
  filter: grayscale(100%); /* Optional: Makes the icons grayscale */
  transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition */
  gap: 16px;
  padding: 16px !important;

  transform: scaleX(-1);
}

/* Hover state for icon */
.sidebar-icon:hover a:hover {
  filter: none; /* Removes grayscale to highlight the icon */
  transform: scale(1.1); /* Slightly enlarges the icon */
}

a {
  text-decoration: none;
  filter: grayscale(50%); /* Optional: Makes the icons grayscale */
  color: lightgray;
}
