.sidebar {
  display: flex;
  width: 25vw;
  height: 100vh;
}

svg {
  color: slategray;
}

.sidebar-container-open {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  padding: 8px;
  color: lightgray;
  background-color: #1a1a1c;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: width 0.1s ease-in-out; /* Adds a smooth transition */
}

.sidebar-container-closed {
  display: flex;
  flex-direction: column;
  width: 5vw;
  height: 100vh;
  padding: 8px;
  color: lightgray;
  background-color: #1a1a1c;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: width 0.1s ease-in-out; /* Adds a smooth transition */
}

.toggle-menu-item-open {
  display: flex;
  flex-direction: column-reverse;
  height: 50vh;
}

.toggle-menu-item-close {
  display: flex;
  flex-direction: column-reverse;
  height: 50vh;
}

h5 {
  font-weight: 900;
  font-size: 24px;
  display: flex;
  width: auto;
  padding: 16px !important;
  color: white;
  gap: 8px;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
