.amount-card {
  height: auto;
  width: 100%;
  padding: 8px !important;
  background-color: white;
  border-radius: 16px;
  font-weight: bold;
  height: auto;
}

.amount-card > p,
.main-amount-card > p {
  font-size: 28px;
  align-self: center;
}

.main-amount-card {
  height: auto;
  width: 100%;
  padding: 16px !important;
  background-color: white;
  border-radius: 16px;
  font-weight: bold;
  background-color: #201f24;
  color: white;
}
