.main-container {
  display: flex;
  padding: 32px !important;
  width: 100%;
  flex-direction: column;
}
.page-wrapper {
    display: flex;
    flex-direction: row;
}
h1 {
  padding: 16px;
  font-size: 32px;
}
