.main-container {
  display: flex;
  padding: 32px !important;
  width: 100%;
  flex-direction: column;
  background-color: #fbf4f0;
}
.page-wrapper {
  display: flex;
  flex-direction: row;
}
h1 {
  padding: 16px;
  font-size: 32px;
}

.amount-card-data-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
}
