* {
  font-family: "PublicSans", sans-serif;
}

@font-face {
  font-family: "PublicSans";
  src: url("../assets/fonts/PublicSans-VariableFont_wght.ttf")
      format("truetype"),
    url("../assets/fonts/PublicSans-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PublicSansItalic";
  src: url("../assets/fonts/PublicSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PublicSansBold";
  src: url("../src/assets/fonts/static/PublicSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
